<%= provide(:title, 'Edit Product') %>
<%= stylesheet_link_tag "application", media: "all" %>

<h1>Edit Product</h1>
<div class="row">
  <%= render 'form' %>
</div>

<span><%= link_to 'Back', @product %></span>
<span><%= link_to 'Delete Item', @product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
<span><%= link_to 'All Products', @products %></span>
