<%= provide(:title, "Product #{@product.name}") %>
<%= stylesheet_link_tag "application", media: "all" %>

<div class="row">
  <h2><%= @product.name %> </h2>
</div>

<div class="row">
  <p>Description: <%= @product.description %> </p>
</div>

<div class="row">
  <p>Website: <%= @product.website %> </p>
</div>

<div class="row">
  <p>Postee: <%= show_postee(@product.user_id) %> </p>
</div>

<div class="row">
  <p>Last Updated At: <%= @product.updated_at %> </p>
</div>

<%= link_to 'Edit Item', edit_product_path(@product) %>
<%= link_to 'Delete Item', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'All Products', products_path %>
