<nav class="top-bar">
  <div class="top-bar-title">
    <!-- Responsive Menu -->
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <%= link_to root_path do %><strong>Product Site</strong><% end %>
  </div>

  <div class="top-bar-left" id="responsive-menu">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if user_signed_in? %>
        <li><a href="#">Account</a>
          <ul class="menu">
            <li><a href="#">Profile</a></li>
            <li><%= link_to 'Add Item', new_product_path %></li>
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</nav>
